git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus

yarl==1.4.2
aiohttp
humanize
python-dateutil
tabulate
Pillow
uwuify
psutil
asyncpg
PyYAML
async-cse
discord-flags
async-timeout
aiogoogletrans
import-expression

