git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus

aiohttp
humanize
dateutil
tabulate
Pillow
uwuify
psutil
asyncpg
PyYAML
async-cse
discord-flags
async-timeout
aiogoogletrans
import-expression

