async-timeout
aiohttp
humanize
dateutil
async-cleverbot
jishaku
import-expression
aiogoogletrans
tabulate
Pillow
uwuify
psutil
async-cse
asyncpg
PyYAML
discord-flags
git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus
